body {
    background-color: #f9f9f9;
    font-family: "Loos Normal", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    box-sizing: border-box;
}
#mobile-menu {
    display: none; 
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    position: fixed;
    z-index: 100;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#mobile-menu.open {
    display: flex; /* .open 클래스가 있을 때만 표시 */
}

#mobile-menu ul {
    padding: 40% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#mobile-menu ul li {
    padding: 5% 0;
    box-sizing: border-box;
}


#mobile-menu ul li a {
    gap: 10px;
    font-size: 7vw;
}

.sns a {
    margin: 0 10px;
}

.close-icon {
    position: absolute;
    top: 60px;
    right: 20px;
    cursor: pointer;
}

.close-icon img{

    width: 20px; /* 크기 설정 */
    height: 20px; /* 크기 설정 */
}

header {
    position: fixed;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 3vw 3vw 0; 
    box-sizing: border-box;
    z-index: 10;
    background-color: #f9f9f9;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    font-weight: bold;
}


nav {
    position: absolute;
    left: 50%; /* 수평 중심 기준 */
    transform: translateX(-50%); /* 정확히 중앙 정렬 */
    padding: 15px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 50px; /* 항목 간 간격을 조정 */
}



li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}


.ticketbutton {
    margin-left: auto; /* 오른쪽 끝으로 이동 */
    padding: 12px 24px;
    background-color: black;
    color: white;
    font-size: 14px;
    transition: background-color 0.6s;
}

nav li a:hover {
    color: #78E86E;
}

.ticketbutton:hover {
    background-color: #78E86E;
}

.mobile-icon {
    display: none;
    position: fixed;
    right: 2vh;  
    top: 6.5vh;   
    z-index: 20;
}

.mobile-icon img {
    width: 4vh;   /* 기본 크기 */
    height: 4vh;  /* 기본 크기 */
    cursor: pointer;
}

    main{
        display: flex;
        flex-direction: column;
    }
      
    .section1 {
        margin-top: 13vh;
        display: flex;
        width: 100%;
        background-color: #f9f9f9;
        padding: 7%;
        box-sizing: border-box;
        justify-content: center;
        font-size: 16pt;
      }


      .section2 {
        display: flex;
        width: 90%;
        height: 100%;
        padding: 0 0 100px 0 ;
        border-top: 3px dotted black;
        margin: 0 auto;
    }
      
    .left {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto repeat(11, 1fr);
        padding: 0 30px 0 0;
        margin: 3px 0 0 0;
        gap: 40px 10px;
        width: 65%;
        border-right: 3px dotted black;
        font-size: 12pt;
        height: 100% ;
    }

    .horizontal {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        gap: 10px;
    }
    
    .horizontal div {
        display: flex;
        align-items: center; 
        justify-content: center; 
        border-bottom: 3px dotted black; 
        box-sizing: border-box;
        width: 100%; 
        height: 100%; 
        padding: 20px 0;

    }
      
    .vertical {
        grid-column: 1; 
        grid-row: 2 / -1; 
        display: grid;
        grid-template-rows: repeat(11, 1fr);
    }
    
    .vertical div {
        display: flex;
        align-items: center; 
        justify-content: center; 
        border-bottom: 3px dotted  black; 
        box-sizing: border-box; 
        width: 100%; 
        height: 100px; 
    }
    .vertical div:first-child {
        border-top: 3px dotted black; 
    }
    

    .stage1 {
        position: relative;
        grid-column: 2; 
        display: grid;
        text-align:center;
    }
    
    .stage1 h1 {
        text-align: center; 
        font-size: 15px;
        font-weight: 500;
        margin: 0; 
    }

    .stage1 p {
        font-size: 10px;
        margin: 0;
        margin-top:3px;
    }

    .stage1-1 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 83px;
        background-color: #78E86E;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden; 
    }


    .stage1-2 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 50px;
        top: 99px;
        background-color: #78E86E;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden; 
    }


    .stage1-3 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 50px;
        top: 157.2px;
        background-color: #78E86E;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden; 
    }


    .stage1-4 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 66.6px;
        top: 215.4px;
        background-color: #78E86E;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden; 
    }


    .stage1-5 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 100px;
        top: 290.1px;
        background-color: #78E86E;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden; 
    }


    .stage1-6 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 74.7px;
        top: 416.6px;
        background-color: #78E86E;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden; 
    }


    .stage1-7 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 66.5px;
        top: 516.6px;
        background-color: #78E86E;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden; 
    }


    .stage1-8 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 74.7px;
        top: 608.3px;
        background-color: #78E86E;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden; 
    }


    .stage1-9 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 100px;
        top: 691.7px;
        background-color: #78E86E;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden;
    }

    .stage1-10 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 74.7px;
        top: 825px;
        background-color: #78E86E;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden; 
    }

    .stage1-11 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 125px;
        top: 950px;
        background-color: #78E86E;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden; 
    }

 

    .stage2 {
        position: relative;
        grid-column: 3; 
        display: grid;
        text-align:center;
    }

    .stage2 h1 {
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        margin: 0;
    }

    .stage2 p {
        font-size: 10px;
        margin: 0;
        margin-top:3px;
    }

    .stage2-1 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 83px;
        top: 16.6px;
        background-color: #F25752;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden; 
    }

    .stage2-2 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 83px;
        top: 116.6px;
        background-color: #F25752;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden; 
    }

    .stage2-3 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 83px;
        top: 208.3px;
        background-color: #F25752;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden; 
    }

    .stage2-4 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 83px;
        top: 300px;
        background-color: #F25752;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden; 
    }
    .stage2-5 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 100px;
        top: 391.5px;
        background-color: #F25752;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden; 
    }
    .stage2-6 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 100px;
        top: 500px;
        background-color: #F25752;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden; 
    }
    .stage2-7 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 100px;
        top: 608.3px;
        background-color: #F25752;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden; 
    }
    .stage2-8 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 100px;
        top: 741.6px;
        background-color: #F25752;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden; 
    }
    
    .stage2-9 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 100px;
        top: 850px;
        background-color: #F25752;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden; 
    }

    .stage2-10 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 100px;
        top: 958.2px;
        background-color: #F25752;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden; 
    }

    .stage3 {
        position: relative;
        grid-column: 4; 
        display: grid;
        text-align:center;
    }

    .stage3 h1 {
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        margin: 0;
    }

    .stage3 p {
        font-size: 10px;
        margin: 0;
        margin-top:3px;
    }

    .stage3-1 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 66.5px;
        top: 100px;
        background-color: #7BDDFF;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden; 
    }

    .stage3-2 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 91.5px;
        top: 183px;
        background-color: #7BDDFF;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden; 
    }

    .stage3-3 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 91.5px;
        top: 283px;
        background-color: #7BDDFF;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden; 
    }

    .stage3-4 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 91.5px;
        top: 383px;
        background-color:  #7BDDFF;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden; 
    }
    .stage3-5 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 100px;
        top: 483px;
        background-color:  #7BDDFF;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden; 
    }
    .stage3-6 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 100px;
        top: 591.5px;
        background-color:  #7BDDFF;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden; 
    }
    .stage3-7 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 83px;
        top: 700px;
        background-color:  #7BDDFF;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden; 
    }
    .stage3-8 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 83px;
        top: 791.5px;
        background-color:  #7BDDFF;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden; 
    }
    
    .stage3-9 {
        position: absolute;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        height: 74.7px;
        top: 898px;
        background-color:  #7BDDFF;
        border: solid 1px black;
        box-sizing: border-box;
        overflow: hidden; 
    }

   


    .stage1 div, .stage2 div, .stage3 div {
        cursor: pointer;
    }

    /* Optional: Add hover effect for better user feedback */
    .stage1 div:hover, .stage2 div:hover, .stage3 div:hover {
        color: white;
    }
    





    
    .right {
        display: flex;
        width: 35%;
        height: 1200px;
        overflow-y: auto;
        padding: 15px 30px;
        flex-direction: column;
        justify-content: flex-start;
        box-sizing: border-box;
    }

    .right::-webkit-scrollbar{
        width: 10px;
    }

    .right::-webkit-scrollbar-thumb{
        background-color: #aaaaaa;
    }

    .right::-webkit-scrollbar-track{
        background-color: #dadada;

    }



    .artist {
        display: flex;
        flex-direction: column; 
    }

    
    .pic-and-info {
    display: flex;
    padding: 30px 0 0 0;
    align-items: flex-start; 
    justify-content: space-between; 
    margin-bottom: 40px;
}

    .pic {
        width: 150px; 
        height: 150px;
        max-width: 150px;
        background-image: url(images/cassian.jpg);
        background-size: cover;
        padding: 30px;
        box-sizing: border-box;
        flex-shrink: 0; 
    }
    
    .right h1 {
        font-size: 20px;
        margin: 0; 
        padding: 10px 0 0 20px ;
    }
    
    .right h2 {
        font-size: 13px;
        margin: 0; 
        padding: 5px 0 0 22px; 
    }

    .right p {
        margin-top: 10px;
        padding: 0 0 40px 0 ;
        line-height: 1.2;
        font-size: 14px;
        font-weight: 400;
        text-transform: none;
        border-bottom: 3px dotted black;

    }

    .pic-and-info div {
        display: flex;
        flex-direction: column; 
        flex-grow: 1;
    }
    
    .stage {
        align-self: flex-end;
        margin: 45px 0 0 0;
        font-size: 13px;
        padding: 3px 12px;
        background-color: #F25752;
        border-radius: 20px;
        border: solid, 1px, black;
        color: black;
    }


    footer {
        position: relative;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        color: black;
        padding: 0 3%;
        align-items: flex-start;
        height: 10vh;
        box-sizing: border-box;
    }
    
    
    .footer1 {
        display: flex;
    }
    
    .footer1 img {
        width: 24px;
        height: 24px;
        margin: 0 10px;
        padding-top: 18px;
    }
    
    .instagram:hover {content: url('images/instagram-hover.png'); }
    .tiktok:hover {content: url('images/tiktok-hover.png'); }
    .youtube:hover {content: url('images/youtube-hover.png'); }
    .facebook:hover {content: url('images/facebook-hover.png'); }
    
    .footer2 {
        padding: 0.2rem 5rem;
        font-size: 0.8rem;
        white-space:nowrap;
        line-height : 0.5em;
        box-sizing: border-box;
    }
    
    .support {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    
    .support a {
        font-size: 0.8rem;
        text-decoration: underline; 
        color: black;
    }
    
    .support a:hover {
        color: #78E86E;
    }
    
    
    
    .footer3 {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }
    
    .footer3 div {
        margin: 0 5px;
    }
    
    .botanic {
        width: 78px;
        height: 40px;
        background-image: url(images/botanic.png);
        background-repeat: no-repeat;
        background-size: contain;
    
    }
    
    .triplej {
        width: 90px;
        height: 50px;
        background-image: url(images/triplej.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    
    .fuzzy {
        width: 50px;
        height: 25px;
        background-image: url(images/fuzzy.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    
    
/*아이패드*/
@media (max-width: 1024px) and (min-width: 768px) {
    header nav  {
        display: none; 
    }

    .logo {
        display: none;        
    }

    .ticketbutton{
        display: none; 
    }
    .mobile-icon {
        display: block; 
    }

    .section1 h1 {
        font-size: 30px;
    }

    .left {
        width: 100%;
        border-right: none;
    }

    .right {
        padding: 0;
        width: 0%;
    }
}


/*모바일*/
@media (max-width: 768px) {

    header nav  {
        display: none;
    }

    .logo {
        display: none;        
    }

    .ticketbutton{
        display: none; 
    }

    .mobile-icon {
        display: block; 
    }

    .mobile-icon img {
        width: 3vh;  
        height: 3vh;
    }

    .section1 h1 {
        font-size: 30px;
    }

    .section2 h1 {
    font-size: 10px;
    }

    footer {
        padding: 2% 0; /* 상하 여백 */
        border-top: dotted 2px black;
        width: 92%; /* 좌우 여백 각각 3% */
        margin: 20% auto 0; /* 중앙 정렬 */
        box-sizing: border-box; /* padding과 border를 포함한 크기 계산 */
    }

    .footer1 {
        display: none; 
    }

    .footer2 {
        padding: 0;
        font-size: 2vw;
        margin-bottom: 30px; /* 아래에 여백 추가 */
        width: 100%; /* 100% 너비로 설정 */
    }

    .support a {
        font-size: 2vw;
        text-decoration: underline; 
        color: black;
    }

    .footer3 {
        display: flex;
        flex-direction: row; /* 수직 정렬 */
        width: 30%; /* 100% 너비로 설정 */
    }
    .botanic {
        width: 70px;
    }
    .fuzzy {
        width: 60px;
        height: 35px;
    }





    .accordion-btn {
        padding: 15px;
    }

    .content p {
        font-size: 12px;
    }

    .section2 {
        margin-top: 0;
    }

    .left {
        width: 100%;
        border-right: none;
    }

    .right {
        padding: 0;
        width: 0%;
    }

  div .horizontal {
        font-size: 12px;
    }

    div .vertical  {
        font-size: 12px;
    }

    .stage1 h1{
        font-size: 10px;
    }



}